body {
   min-width: 372px;
}

.wrapper {
   min-height: 100vh;
}

h1{
    font-size: 63px;
    color:white;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 54px;
    color: #303030;
    font-weight: 600;
}

.carousel-caption h3{
   font-size: 80px;
   color: #ffc107;
   text-shadow: 2px 2px 2px black;
   
}

.carousel-caption p {
   font-size: 20px;
   text-shadow: 2px 2px 2px black;
}


.container{
   max-width: 100%;
   max-height: 100%;
   margin: 0%;
   padding: 0%;
   
}

.navbar {
   position: fixed;
   width: 100%;
   z-index: 10;
   background: linear-gradient(55deg, rgb(155, 155, 152),rgb(73, 72, 72)) ;
   height: 60px;
   
}
/* nenu-hamburguer */

.navbar-brand{
   color: blueviolet;
   font-weight: bold;
   text-shadow: 2px black;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #28f878, 0 0 20px #28f878, 0 0 30px #28f878, 0 0 40px #28f878, 0 0 50px #28f878;
}

.nav-link {
   position: relative;
   z-index: 9999;
   color: blueviolet;
   font-weight: bold;
   text-shadow: 2px black;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #28f878, 0 0 20px #28f878, 0 0 30px #28f878, 0 0 40px #28f878, 0 0 50px #28f878;
}


/* Sobre a empresa */

.container fotoempresa {
   position: absolute;
   bottom: 0;
}

.container-fluid {
   padding: 0;
   margin: 0;
}

#about-area {
   background-color:  rgb(231, 224, 167);
  
}

.main-title {
   color: #444;
   margin: 50px;
   font-size: 40px;
   text-align: center;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #28f878, 0 0 20px #28f878, 0 0 30px #28f878, 0 0 40px #28f878, 0 0 50px #28f878;
}

.about-title {
   font-size: 1rem;
   color: #444;
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
}

#about-list {
   list-style: none;
   padding-left: 0;
}

#about-list li {
   line-height: 30px;
}

#about-list i {
   color: blue;
   margin-right: 15px;
}

/* Nossa equipe */

.team {
   text-align: center;
   margin-bottom: 50px;
   font-family: 'Arial Narrow Bold', sans-serif ;
   font-size: 36px;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #28f878, 0 0 20px #28f878, 0 0 30px #28f878, 0 0 40px #28f878, 0 0 50px #28f878;

}
.imgTeam {
   border-radius: 50%;
   height: 250px;
   width: 250px;
   object-fit: cover;
   padding-top: 10px;
   padding-bottom: 10px; 
   background-color: #f9cf9f;
   margin-bottom: 40px;
}
/* página Produtos */

.destaque {
   text-align: center;
   padding: 10px;
}

.tituloprod {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #28f878, 0 0 20px #28f878, 0 0 30px #28f878, 0 0 40px #28f878, 0 0 50px #28f878;
}

.subtituloprod {
   font-size: 15px;
   text-align: center;
   margin-bottom: 20px;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #28f878, 0 0 20px #28f878, 0 0 30px #28f878, 0 0 40px #28f878, 0 0 50px #28f878;
}

.imgprod {
   margin-left: 7rem;
   margin-bottom: 2rem;
}

.precoprod {
   font-size: 35px;
   margin-left: 6rem;
   margin-bottom: 2rem;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #28f878, 0 0 20px #28f878, 0 0 30px #28f878, 0 0 40px #28f878, 0 0 50px #28f878;
}

#btn-prod {
   margin-left: 5rem;
   margin-bottom: 2rem;
}

#logo {
   margin-left: 5px;
}


